{{> navigation }}

<div class="container">
    <h1>Contacto</h1>
    <form onsubmit="return validateForm()" class="needs-validation">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Mensaje</label>
            <textarea class="form-control" id="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <h2>Redes Sociales</h2>
    <div class="row">
        {{#each SocialLinks}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    {{{SvgIcon}}} <a href="{{Url}}" target="_blank">{{Red}}</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>