{{> navigation }}

<div class="container">
    <h1>Pasatiempos</h1>
    <div class="row">
        {{#each Hobbies}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{Nombre}}</h4>
                    <p class="card-text">{{Descripcion}}</p>
                    <div class="gallery">
                        {{#each Imagenes}}
                        <img src="{{this}}" alt="{{../Nombre}}" class="img-fluid mb-2">
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>