<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mi Sitio</a>
        <div class="navbar-nav">
            <a class="nav-link {{^isAbout}}text-white{{/isAbout}}{{#isAbout}}active text-yellow{{/isAbout}}"
               href="/pages/about.html" {{#isAbout}} aria-current="page" {{/isAbout}}>Sobre Mí</a>
            <a class="nav-link {{^isHobbies}}text-white{{/isHobbies}}{{#isHobbies}}active text-yellow{{/isHobbies}}"
               href="/pages/hobbies.html" {{#isHobbies}} aria-current="page" {{/isHobbies}}>Pasatiempos</a>
            <a class="nav-link {{^isYouTubers}}text-white{{/isYouTubers}}{{#isYouTubers}}active text-yellow{{/isYouTubers}}"
               href="/pages/youtubers.html" {{#isYouTubers}} aria-current="page" {{/isYouTubers}}>YouTubers</a>
            <a class="nav-link {{^isSeries}}text-white{{/isSeries}}{{#isSeries}}active text-yellow{{/isSeries}}"
               href="/pages/series.html" {{#isSeries}} aria-current="page" {{/isSeries}}>Series</a>
            <a class="nav-link {{^isContact}}text-white{{/isContact}}{{#isContact}}active text-yellow{{/isContact}}"
               href="/pages/contact.html" {{#isContact}} aria-current="page" {{/isContact}}>Contacto</a>
        </div>
    </div>
</nav>