<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/pages/about.html">Mi Sitio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{#if isAbout}}active{{/if}}" href="/pages/about.html">Sobre Mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isHobbies}}active{{/if}}" href="/pages/hobbies.html">Pasatiempos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isYouTubers}}active{{/if}}" href="/pages/youtubers.html">YouTubers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isSeries}}active{{/if}}" href="/pages/series.html">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if isContact}}active{{/if}}" href="/pages/contact.html">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
