{{> navigation }}

<div class="container">
    <h1>YouTubers Favoritos</h1>
    <div class="row">
        {{#each YouTubers}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{LogoUrl}}" class="card-img-top" alt="{{NombreCanal}}">
                <div class="card-body">
                    <h4 class="card-title">{{NombreCanal}}</h4>
                    <p class="card-text">{{Descripcion}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>